block main 
    .footer-modile
        .container
            nav.footer-mobile-nav
                nav.footer-mobile-left  
                    ul.footer-nav-column
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Видео
                        li
                            a(href="#") Трансляции
                        li
                            a(href="#") Статьи 
                        li
                            a(href="#") Лонгриды 
                        li
                            a(href="#") Спецпроекты 
                        li
                            a(href="#") Блоги 
                        li
                            a(href="#") Фото 
                        li
                            a(href="#")  Подкасты
                    ul.footer-nav-column
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Ижевск
                        li
                            a(href="#") Политика
                        li
                            a(href="#") Бизнес
                        li
                            a(href="#") Деньги
                        li
                            a(href="#") Происшествия
                        li
                            a(href="#") Здоровье
                        li
                            a(href="#") Спорт
                        li
                            a(href="#") Культура
                        li
                            a(href="#") Прочее
                nav.footer-mobile-right
                    ul.footer-nav-column
                        li
                            a(href="#") Удмуртия
                        li
                            a(href="#") Россия
                        li
                            a(href="#")  Мир   
                    ul.footer-nav-column
                        li
                            a(href="#") Tele2
                        li
                            a(href="#")  АПК