block main
    section.footer-map 
        .container 
            .footer-map-container
                .footer-map-link  
                    a(href="#")
                        .map-izh__item 
                            svg.footer-map-icon
                                use(xlink:href= '#footer-yama')
                            .map-izh-text-wrapper
                                h3.map-izh__item-title ИжЯма
                                p.map-izh__item-text Карта ям на автодорогах Ижевска
                .footer-map-link 
                    a(href="https://susanin.news/izhmap/udmdtp/")
                        .map-izh__item
                            svg.footer-map-icon
                                use(xlink:href= '#footer-map')
                            .map-izh-text-wrapper
                                h3.map-izh__item-title Карта Ижевска
                                p.map-izh__item-text и справочник организаций и предприятий  