block main
    section.footer-navigation
        .container#content-container
            .footer-navigation-wrapper
                ul.footer-nav-column
                    li 
                        a(href="#") Видео
                    ul.footer-nav-drop 
                        li
                            a(href="#") Картина дня 
                        li
                            a(href="#") Кофемолка
                        li
                            a(href="#") Кофемолка
                        li
                            a(href="#") ЧБ
                        li
                            a(href="#") Удмуртия в минуту
                ul.footer-nav-column
                    li 
                        a(href="#") Трансляции
                    ul.footer-nav-drop 
                        li
                            a(href="#") Последние 
                        li
                            a(href="#") Прямые линии
                ul.footer-nav-column
                    li 
                        a(href="#") Статьи
                    ul.footer-nav-drop 
                        li
                            a(href="#") Интервью 
                ul.footer-nav-column
                    li 
                        a(href="#") Лонгриды
                    ul.footer-nav-drop 
                        li
                            a(href="#") Последний 
                        li
                            a(href="#") Популярные
                ul.footer-nav-column
                    li 
                        a(href="#") Спецпроекты
                    ul.footer-nav-drop 
                        li
                            a(href="#") Теплоэнергетика 
                        li
                            a(href="#") АПК
                        li
                            a(href="#") Теле2
                ul.footer-nav-column
                    li 
                        a(href="#") Блоги
                    ul.footer-nav-drop 
                        li
                            a(href="#") Последние 
                        li
                            a(href="#") Популярные
                        li
                            a(href="#") Авторы
                ul.footer-nav-column
                    li 
                        a(href="#") Мнения
                    ul.footer-nav-drop 
                        li
                            a(href="#") Цитаты 
                        li
                            a(href="#") Актуальные
                        li
                            a(href="#") Авторы
                ul.footer-nav-column
                    li
                        a(href="#") Фото
                    ul.footer-nav-drop 
                        li
                            a(href="#") Репортажи 
                        li
                            a(href="#") Галерея
                ul.footer-nav-column
                    li 
                        a(href="#") Подкасты
                    ul.footer-nav-drop 
                        li
                            a(href="#") Программы 
                        li
                            a(href="#") РСН
                ul.footer-nav-column
                    li 
                        a(href="#") Темы
                    ul.footer-nav-drop 
                        li
                            a(href="#") Камский мост 
                        li
                            a(href="#") Картина дня  