block main    
    .modal-social
        h3.modal-social__title Через социальные сети
        ul.modal-social__items
            li  
                .social-icon-wrapper.modal-fb
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-fb')  
            li
                .social-icon-wrapper.modal-vk
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-vk') 
            li
                .social-icon-wrapper.modal-tw
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-tw') 
            li
                .social-icon-wrapper.modal-ok
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-ok') 
            li
                .social-icon-wrapper.modal-mk
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-mk') 
            li
                .social-icon-wrapper.modal-gp
                    a(href="#")
                        svg.modal-social-icon
                            use(xlink:href= '#i-gp')