block main 
    section.news-calendar
        ul.news-days-list 
            li.news-days__item
                button.news-days__item-btn.news-days__item-btn-active 
                    <span class="news-days-bold-text">14</span>сентября, ср
            li.news-days__item
                button.news-days__item-btn
                    <span class="news-days-bold-text">13</span>сентября, вт
            li.news-days__item
                button.news-days__item-btn
                    <span class="news-days-bold-text">12</span>сентября, пн
            li.news-days__item
                button.news-days__item-btn
                    <span class="news-days-bold-text">11</span>сентября, вс
            li.news-days__item
                button.news-days__item-btn
                    <span class="news-days-bold-text">10</span>сентября, сб
            li.news-days__item
                button.news-days__item-btn
                    <span class="news-days-bold-text">9</span>сентября, пт
            li.news-days__item
                button.news-days__item-btn 
                    <span class="news-days-bold-text">8</span>сентября, чт
            li.news-days__item
                button.news-days__item-btn.news-calendar__button  
                    <span class="news-days-bold-text">Архив</span>