block main 
    ul.popular-cards-grid
        li.popular-cards__item-big
            a(href="#") 
                .popular-image-block.popular-image-block_water.video-type
                .popular-text-block  
                    p.popular-text__item Ижводоканал опроверг информацию об отключении воды в домах горожан
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item Ошибки нашли в декларациях большинства кандидатов в депутаты...
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 348
        li.popular-cards__item
            a(href="#") 
                .popular-text-block  
                    p.popular-text__item Президентом УЕФА стал словенец Александер Чеферин
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 24
        li.popular-cards__item-big
            a(href="#") 
                .popular-image-block.popular-image-block__build
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item МВД Удмуртии: выборы в республике будут спокойными
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 86 
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item Официальный представитель СК России Владимир Маркин ушел с поста
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 75