block main 
    ul.popular-cards-grid
        li.popular-cards__item-big
            a(href="#") 
                .popular-image-block.popular-image-block_water
                .popular-text-block  
                    p.popular-text__item Ижводоканал опроверг информацию об отключении воды в домах горожан
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item
            a(href="#") 
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item-big
            a(href="#") 
                .popular-image-block.popular-image-block__build
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121 
        li.popular-cards__item
            a(href="#")
                .popular-text-block  
                    p.popular-text__item В Ижевске определили победителей проектов по реконструкции Летнего сада
                    .popular-add 
                        .popular-add__date  09:30, 22 августа 2016
                        .popular-add-social 
                            svg.comments-icon      
                                use(xlink:href='#comments-icon')
                            span.popular-add-social__views 121