aside.advertising-wrapper  
    div.news-switch-nav
        span.news-views__type Вид ленты
        button.news-views-button.news-views-button__cards.news-views-button-active
            svg.news-views__icon.news-views__icon-cards.news-views__icon-active
                use(xlink:href='#view-cards')
        button.news-views-button.news-views-button__list
            svg.news-views__icon.news-views__icon-list
                use(xlink:href='#view-list')
    div.aside-add
    div.aside-links
        a.aside-links__item.aside-links__item-big(href="#")
            .aside-links__item-wrap 
                div.aside-links__item-text Бизнес: Как это сделано. Совместный проект ИА «Сусанин» и Tele2  
        a.aside-links__item(href="#") 
            .aside-links__item-wrap
                div.aside-links__item-text Теплоэнергетика
        a.aside-links__item(href="#")
            .aside-links__item-wrap
                div.aside-links__item-text АПК
    div.aside-blogs
        .aside-blogs-title 
            h3.aside-blogs-title__item Блоги
        .aside-blogs-card 
            .aside-blogs-card-text Что такое быть мамой мальчика
            .aside-blogs-autor
                .aside-blogs-autor-info 
                    .aside-blogs-autor__avatar.tatyana 
                    .aside-blogs-autor__name Татьяна <br>Шумихина
                .aside-blogs-autor__views
                    svg.eye-icon
                        use(xlink:href='#eye-icon')
                    span 128 
        .aside-blogs__item 
            .aside-blogs__item-autor 
                .aside-blogs-autor__avatar.george 
                .aside-blogs-autor__name Блог Георгия<br>Поветкина
            .aside-blogs__item-title Финал в полуфинале
        .aside-blogs__item 
            .aside-blogs__item-autor 
                .aside-blogs-autor__avatar.oleg 
                .aside-blogs-autor__name Олег<br>Вылегжанин
            .aside-blogs__item-title Про нынешний Rock<br>IZH-IT фест
        .aside-blogs-links
            a.aside-blogs-links__item(href="#") Все блоги
            a.aside-blogs-links__item(href="#") Все блогеры 

    div.aside-social
        .aside-social-title 
            .aside-social-title__icon 
            .aside-social-title-link-wrapper 
                a.aside-social-title__link(href="#") ИА «Сусанин» /Новости ...
        .aside-social-info 
            .aside-social-info__members 13 329 участников
            ul.aside-social-info-links
                li.aside-social-info-links__item
                    a(href="#") 
                li.aside-social-info-links__item
                    a(href="#") 
                li.aside-social-info-links__item
                    a(href="#") 
                li.aside-social-info-links__item
                    a(href="#") 
    div.aside-add
    div.aside-hot-news
        ul.aside-hot-news-list
            li.aside-hot-news-items
                a(href="#").aside-hot-news__item-wrapper
                    .aside-hot-news-items__img 
                        img(src="" alt="")
                    .aside-hot-news-items__text 
                        p.aside-hot-news-items__text-article
                            <span class="aside-hot-news-items__text-title"> У олимпийцев в</span> Рио нашли синдром дырявой кишки
            li.aside-hot-news-items
                a(href="#").aside-hot-news__item-wrapper
                    .aside-hot-news-items__img 
                        img(src="" alt="")
                    .aside-hot-news-items__text 
                        p.aside-hot-news-items__text-article
                            <span class="aside-hot-news-items__text-title">Яценюк назвал две</span> главные цели Кремля на Украине 
            li.aside-hot-news-items.no-border
                a(href="#").aside-hot-news__item-wrapper
                    .aside-hot-news-items__img 
                        img(src="" alt="")
                    .aside-hot-news-items__text 
                        p.aside-hot-news-items__text-article
                            <span class="aside-hot-news-items__text-title">«Россию начинают воспринимать</span> как мальчика для битья» 
    div.aside-announce
        h3.aside-announce-title Объявления
        ul.aside-announce-list
            li.aside-announce-item-wrapper
                a(href="#").aside-announce__item
                    p.aside-announce__item-text Пеноблок Д600 армированный
                    span.aside-announce__item-date 08:27
            li.aside-announce-item-wrapper
                a(href="#").aside-announce__item
                    p.aside-announce__item-text Чернозем, торф, навоз, перегной, грунт
                    .aside-announce__item-date 08:16
            li.aside-announce-item-wrapper
                a(href="#").aside-announce__item
                    p.aside-announce__item-text Бухгалтер на неполныйрабочий день
                    span.aside-announce__item-date 09:20, 22 августа 2016
        a.aside-announce__all(href="#") Все объявления 
