extends ../layouts/layout
block main
    .preloader
        svg.preloader__image(role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
            path(fill='currentColor' d='M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z')

    include ../blocks/header/header.pug
    main#main
        .container
            .main-grid
                .main-content
                    include ../blocks/news/news.pug
                    include ../blocks/popular/popular.pug
                    include ../blocks/multimedia/multimedia.pug
                include ../blocks/aside/aside.pug
    include ../blocks/footer/footer.pug
    script

        include ../../js/validate.js
        include ../../js/citySwitch.js
        include ../../js/modal.js
        include ../../js/renderNews.js
        include ../../js/switchNews.js
        include ../../js/switchDay.js
