block main 
    .big-menu.closed
        .container
            .big-menu-container
                nav.left-nav
                    ul
                        li.big-menu__link.left-nav__link
                            a(href='#') Новости
                        li.big-menu__link.left-nav__link
                            a(href='#') Ижевск
                        li.big-menu__link.left-nav__link
                            a(href='#') Политика
                        li.big-menu__link.left-nav__link
                            a(href='#') Бизнес
                        li.big-menu__link.left-nav__link
                            a(href='#') Деньги
                        li.big-menu__link.left-nav__link
                            a(href='#') Происшествия
                        li.big-menu__link.left-nav__link
                            a(href='#') Здоровье
                        li.big-menu__link.left-nav__link
                            a(href='#') Спорт
                        li.big-menu__link.left-nav__link
                            a(href='#') Культура
                        li.big-menu__link.left-nav__link
                            a(href='#') Прочее
                        li.big-menu__link.left-nav__link
                            a(href='#') Удмуртия
                        li.big-menu__link.left-nav__link
                            a(href='#') Росиия
                        li.big-menu__link.left-nav__link
                            a(href='#') Мир
                nav.right-nav
                    ul
                        li.big-menu__link
                            a(href='#') Главная
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Видео
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Картина дня
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Кофемолка
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') ЧБ
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Удмуртия в минуту
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Live
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Live
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Последние
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Прямые линии
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Статьи
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Интервью
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Лонгриды
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Последний
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Популярные
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Спецпроекты
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Tele2
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') АПК
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Т Плюс
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Блоги
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Последние
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Популярные
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Авторы
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Мнения
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Цитаты
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Актуальные
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Авторы
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Фото
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Репортажи
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Галерея
                        li
                            ul.big-menu-add-list
                                li.big-menu__link.second-column__link
                                    a(href='#') Подкасты
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') Программы
                                li
                                    a.big-menu-add__item(href='#' target='_blank' rel='noopener noreferrer') РСН
                    ul.big-modal-img
                        li.big-modal-img__item
                            a(href="#") Tele 2
                        li.big-modal-img__item
                            a(href="#") АПК
                        li.big-modal-img__item
                            a(href="#") Теплоэнергетика
    script
        include ../../../js/burger.js