block main
    .header-nav-wrapper
        .container 
            nav.header-nav-main
                ul.header-nav-list
                    li.header-nav-main__item
                        a(href="#") Главная
                    li.header-nav-main__item
                        a(href="#") Видео
                    li.header-nav-main__item
                        a(href="#") Live
                    li.header-nav-main__item
                        a(href="#") Статьи
                    li.header-nav-main__item
                        a(href="#") Лонгриды
                    li.header-nav-main__item
                        a(href="#") Спецпроекты
                    li.header-nav-main__item
                        a(href="#") Блоги
                    li.header-nav-main__item
                        a(href="#") Мнения
                    li.header-nav-main__item
                        a(href="#") Цитаты
                    li.header-nav-main__item
                        a(href="#") Фото
                    li.header-nav-main__item
                        a(href="#") Подкасты
                .header-nav-main-tel
                    a.header-nav-main__tel(href="#") АПК
                    a.header-nav-main__tel(href="#") Tele2
                .header-burger-menu
                    button.burger-switch
                        div.burger-switch-btn
                            svg.header-burger-icon
                                use(xlink:href='#burger')  
                            span.header-burger-text Все разделы
                        div.burger-switch-btn.closed
                            svg.header-burger-icon
                                use(xlink:href='#burger-close')  
                            span.header-burger-text Закрыть
            nav.header-nav-additional
                ul.header-nav-add-list 
                    li.header-nav-add__item
                        a(href="#news") Новости
                    li.header-nav-add__item
                        a(href="#") Ижевск
                    li.header-nav-add__item
                        a(href="#") Политика
                    li.header-nav-add__item
                        a(href="#") Бизнес
                    li.header-nav-add__item
                        a(href="#") Деньги
                    li.header-nav-add__item
                        a(href="#") Происшествия
                    li.header-nav-add__item
                        a(href="#") Здоровье
                    li.header-nav-add__item
                        a(href="#") Спорт
                    li.header-nav-add__item
                        a(href="#") Культура
                    li.header-nav-add__item
                        a(href="#") Прочее
                .header-nav-add-location
                    a.haeder-nav-add-location__item(href="#") Удмуртия
                    a.haeder-nav-add-location__item(href="#") Россия
                    a.haeder-nav-add-location__item(href="#") Мир
