block main
    .header-banner 
        .container
            .header-banner-wrapper
                .header-banner__icon 
                    svg.header-important-icon
                        use(xlink:href= '#important')
                span.header-banner__text Полиция опубликовала видео задержания обвиняемого в подкупе директора ижевской фирмы