block main 
    section.multimedia 
        .container#content-container 
            .multimedia-title 
                h2 Мультимедиа
            .multimedia-content-grid 
                .multimedia-card__item.multimedia-card__item-med.video-type
                    .multimedia-card__item-text  Планшеты для «Скорой»
                .multimedia-card__item.multimedia-card__item-kalash.podcast-type
                    .multimedia-card__item-text Программа «Карлутка», посвященная М.Т. Калашникову
                .multimedia-card__item.multimedia-card__item-pit.video-type
                    .multimedia-card__item-text Черное и Белое. Можно ли купаться в ижевском пруду?